---
layout: layout.liquid
title: Skyrim Character Generator
---

<div class="flex-container">
  <div class="content">
    <h1 class="page-title">Skyrim Character Generator</h1>
    
    <div class="name-generator" x-data="randomName()">
      <h3 class="page-title" style="font-size:2.5rem; margin-bottom:0.5rem;">Name</h3>
      <h2 class="name-display" x-text="currentName || 'Click the button to generate a name'"></h2>
      <button class="name-button" @click="generateName()">Generate Name</button>
    </div>
    
    <div style="height: 2rem;"></div>
    
    <div class="name-generator" x-data="randomRace()">
      <h3 class="page-title" style="font-size:2.5rem; margin-bottom:0.5rem;">Race</h3>
      <h2 class="name-display" x-text="currentRace || 'Click the button to generate a race'"></h2>
      <button class="name-button" @click="generateRace()">Generate Race</button>
    </div>
    
    <div style="height: 2rem;"></div>
    
    <div class="name-generator" x-data="randomMagicka()">
      <h3 class="page-title" style="font-size:2.5rem; margin-bottom:0.5rem;">Magicka Class</h3>
      <h2 class="name-display" x-text="currentMagicka || 'Click the button to generate a Magicka Class'"></h2>
      <button class="name-button" @click="generateMagicka()">Generate Magicka Class</button>
    </div>
    
  </div>
</div>

<script>
  function randomName() {
    return {
      names: [
        "Gandalf",
        "Eldric",
        "Tharion",
        "Lysandra",
        "Brom",
        "Elowen",
        "Dorian",
        "Isolde",
        "Garrick",
        "Seraphine",
        "Quinne",
        "Chloe",
        "Avary",
        "Lorian",
        "Celestine",
        "Thorne",
        "Evelyn",
        "Draven",
        "Fiora",
        "Merrick"
      ],
      currentName: "",
      generateName() {
        const index = Math.floor(Math.random() * this.names.length);
        this.currentName = this.names[index];
      }
    };
  }
  
  function randomRace() {
    return {
      races: [
        "Khajit",
        "Argonian",
        "Wood Elf",
        "Redguard",
        "Orc",
        "Imperial",
        "Breton",
        "Nord",
        "Bosmer Elf",
        "Dunmer",
        "Wood Elf",
        "Dwemer",
        "Vampire",
        "Snow Elf",
        "Dremora",
        "Daedra"
      ],
      currentRace: "",
      generateRace() {
        const index = Math.floor(Math.random() * this.races.length);
        this.currentRace = this.races[index];
      }
    };
  }
  
  function randomMagicka() {
    return {
      classes: [
        "Destruction",
        "Illusion",
        "Alteration",
        "Enchanting",
        "Restoration",
        "Conjuring"
      ],
      currentMagicka: "",
      generateMagicka() {
        const index = Math.floor(Math.random() * this.classes.length);
        this.currentMagicka = this.classes[index];
      }
    };
  }
</script>
