---
layout: layout.liquid
title: Name Generator
---

<div class="flex-container">
  <div class="content">
    <h1 class="page-title">Name Generator</h1>
    
    <!-- Random Name Generator Component -->
    <div class="name-generator" x-data="randomName()">
      <h2 class="name-display" x-text="currentName || 'Click the button to generate a name!'"></h2>
      <button class="name-button" @click="generateName()">Generate Random Name</button>
    </div>
  </div>
</div>

<script>
  function randomName() {
    return {
      // Array of fantasy names with titles
      names: [
        "Gandalf the Great",
        "Eldric the Magnificent",
        "Tharion the Timeless",
        "Lysandra the Luminous",
        "Brom the Bold",
        "Elowen the Enchantress",
        "Dorian the Daring",
        "Isolde the Illustrious",
        "Garrick the Gallant",
        "Seraphine the Serene"
      ],
      currentName: "",
      // Function to randomly select a name
      generateName() {
        const index = Math.floor(Math.random() * this.names.length);
        this.currentName = this.names[index];
      }
    };
  }
</script>
